[buildout]
auto-checkout = plone.app.blob
extends = http://x.aclark.net/plone/4.2.x/develop.cfg

[sources]
plone.app.blob = git git@github.com:aclark4life/plone.app.blob.git

[test]
eggs = ${plone:eggs}
